name: Cloudformation_dynamo

on:
  workflow_dispatch:

    inputs:
 
      BucketName:
        description: 'bucket name'
        required: true
        default: 'reeceve_Test_waseem'

  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:


  dynamo-deploy:
    runs-on: ubuntu-latest
    environment: Test
    needs: build
    
    steps:

      - uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      
      - name: Deploy to AWS CloudFormation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: cloudformation-demo
          template: iac/dynomodb.yml
          parameter-overrides: >-
            "BucketName=${{ inputs.BucketName }}"

          no-fail-on-empty-changeset: "1"